.sidebar {
  flex: 0 0 280px;
  height: 100%;
  overflow-y: auto;

  &-logo {
    align-items: center;
    display: flex;
    height: 6em;
    justify-content: space-between;
    padding: 0 1em;

    img {
      display: block;
      height: 80%;
      padding-top: 1em;
    }

    &-heading {
      color: inherit;
      font-size: 1.6em;
    }
  }

  &-list {
    @include fill-parent;

    &:hover {
      a.active:not(:hover) {
        box-shadow: none;
        background-color: inherit;
        color: inherit;
      }
    }
  }

  a {
    @include fill-parent;
    color: inherit;
    display: block;
    padding: 0.5em 1em;
    transition: background-color 0.05s linear;

    &.active {
      @include card(1);
      background-color: $sidebar-active-color;
      color: $grey-0;
    }

    &:hover {
      @include card(1);
      background-color: $sidebar-active-color;
      color: $grey-0;
    }
  }
}
