table {
  border-collapse: separate;
  border-radius: $base-border-radius;
  table-layout: fixed;
  width: 100%;
}

thead {
  background-color: $base-link-color;
  color: $grey-0;
}

th {
  border-bottom: $dark-border;
  font-size: $small-font-size;
  font-weight: $normal-font-weight;
  letter-spacing: 0.0357em;
  padding: ($base-spacing / 2) 0;
  text-align: left;
  text-transform: uppercase;
}

td {
  border-bottom: $base-border;
  overflow: hidden;
  padding: ($base-spacing / 2) 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

tr {
  &:first-child {
    td {
      &:first-child {
        border-top-left-radius: $base-border-radius;
      }

      &:last-child {
        border-top-right-radius: $base-border-radius;
      }
    }
  }

  &:last-child {
    td {
      border-bottom: 0;

      &:first-child {
        border-bottom-left-radius: $base-border-radius;
      }

      &:last-child {
        border-bottom-right-radius: $base-border-radius;
      }
    }
  }
}



td,
th {
  padding-top: $base-spacing;
  padding-bottom: $base-spacing;
  padding-left: $base-spacing/2;

  &:first-child {
    padding-left: $base-spacing;
  }

  &:last-child {
    padding-right: $base-spacing;
  }
}

th {
  padding-top: $base-spacing/2;
  padding-bottom: $base-spacing/2;
}

tr,
td,
th {
  vertical-align: middle;
}
